

{% block body %}
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xl-9 col-lg-8">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">New Event</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="new-user-info">
                                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {{ form_row(form.user, {"attr" : {'class':'form-control'},"label":"Id User"})}}
                                        <div  class="alert alert-danger">
                                            {{ form_errors(form.user) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_row(form.nom, {"attr" : {'class':'form-control'},"label":"Nom"})}}
                                        <div  class="alert alert-danger">
                                            {{ form_errors(form.nom) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_row(form.mail, {"attr" : {'class':'form-control'},"label":"Mail"})}}
                                        <div  class="alert alert-danger">
                                            {{ form_errors(form.mail) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_row(form.subject, {"attr" : {'class':'form-control'},"label":"Subject"})}}
                                        <div  class="alert alert-danger">
                                            {{ form_errors(form.subject) }}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_row(form.mobile, {"attr" : {'class':'form-control'},"label":"Mobile"})}}
                                        <div  class="alert alert-danger">
                                            {{ form_errors(form.mobile) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            {{ form_row(form.commentaire, {"attr" : {'class':'form-control'},"label":"Commentaire"})}}
                                            <div  class="alert alert-danger">
                                                {{ form_errors(form.commentaire) }}
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="form-group col-md-6">
                                                {{ form_row(form.date)}}
                                                <div  class="alert alert-danger">
                                                    {{ form_errors(form.date) }}
                                                </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            {{ form_row(form.rate, {"attr" : {'class':'form-control'},"label":"Rate "})}}
                                            <div  class="alert alert-danger">
                                                {{ form_errors(form.rate) }}
                                            </div>


                                            <button type="submit" class="btn btn-primary mr-2">{{ button_label|default('Save') }}</button>



                                        </div>

                                    </div>
                                    <hr>

                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}