{% extends 'base.html.twig' %}
      {% block nav %}

		  {% include 'Inc/nav2.html.twig' %}

	  {% endblock %}


{% block body %}
<div class="clearfix"></div>

			<!-- Title Header Start -->
			<section class="inner-header-title no-br advance-header-title" style="background-image:url(assets/img/banner-10.jpg);">
				<div class="container">
					<h2><span>Work There.</span> Find the dream job</h2>
					<p><span>704</span> new job in the last <span>7</span> days.</p>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->

			<!-- bottom form section start -->
			<section class="bottom-search-form">
				<div class="container">
					<form class="bt-form">
						<div class="col-md-3 col-sm-6">
							<input type="text" class="form-control" placeholder="Skills, Designations, Keyword">
						</div>
						<div class="col-md-3 col-sm-6">
							<input type="text" class="form-control" placeholder="Searc By location">
						</div>
						<div class="col-md-3 col-sm-6">
							<select class="form-control">
							  <option>By Category</option>
							  <option>Information Technology</option>
							  <option>Mechanical</option>
							  <option>Hardware</option>
							</select>
						</div>
						<div class="col-md-3 col-sm-6">
							<button type="submit" class="btn btn-primary">Search Job</button>
						</div>
					</form>
				</div>
			</section>
			<!-- Bottom Search Form Section End -->

			<!-- ========== Begin: Brows job Category ===============  -->
			<section class="brows-job-category gray-bg">
				<div class="container">
					<div class="col-md-12 col-sm-12">
						<div class="full-card">

							<div class="card-header">
								<div class="row mrg-0">
									<div class="col-md-4 col-sm-4">
										<select class="selectpicker form-control" multiple title="Job Type">
										  <option>Full Time</option>
										  <option>Part Time</option>
										  <option>Freelancer</option>
										  <option>Internship</option>
										</select>
									</div>
									<div class="col-md-4 col-sm-4 small-padd">
										<select class="selectpicker form-control" multiple title="All Categories">
										  <option>Teacher Jobs</option>
										  <option>Consultant Jobs</option>
										  <option>IT Jobs</option>
										  <option>Sales Jobs</option>
										  <option>Graphic Designer Jobs</option>
										</select>
									</div>
									<div class="col-md-4 col-sm-4">
										<ol class="breadcrumb pull-right">
											<li><a href="#"><i class="fa fa-home"></i></a></li>
											<li><a href="#">Full Time</a></li>
											<li class="active">IT Jobs</li>
										</ol>
									</div>
								</div>
							</div>
			{% for offre in offres %}
							<div class="card-body">

								<article class="advance-search-job">
									<div class="row ">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="{{ asset('picture/'~ offre.logo) }}" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>{{ offre.nom }}</h4></a>
												<span>{{ offre.description }}</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>{{ offre.title }}</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<p><i class="fa fa-map-marker"></i>{{ offre.email }}</p>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="apply">Apply</a>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">{{ offre.idcategorie.nom }}</span>
								</article>

								{% endfor %}

							</div>
						</div>

						<div class="row">
							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>

						<!-- Ad banner -->
						<div class="row">
							<div class="ad-banner">
								<img src="http://via.placeholder.com/728x90" class="img-responsive" alt="">
							</div>
						</div>
					</div>

					<!-- Sidebar Start -->
					<div class="col-md-3 col-sm-12">
						<div class="sidebar right-sidebar">

						</div>
					</div>
					<!-- Sidebar End -->

				</div>
			</section>
			<!-- ========== Begin: Brows job Category End ===============  -->


			<!-- Sign Up Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="submit-btn"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
													<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Sign Up Window -->

			<!-- Apply Form Code -->
			<div class="modal fade" id="apply-job" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="apply-job-box">
								<img src="assets/img/com-1.jpg" class="img-responsive" alt="">
								<h4>Product Designer</h4>
								<p>Google Pvt.</p>
							</div>
							<div class="apply-job-form">
								<form class="form-inline" method="post">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="text"  name="name" class="form-control" placeholder="Your Name" required="">
											<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
											<textarea class="form-control" placeholder="About You / Paste your CV"></textarea>
											<div class="fileUpload">
												<span>Upload CV</span>
												<input type="file" class="upload" />
											</div>
											<div class="center">
											<button type="submit" id="subscribe" class="submit-btn"> Apply Now </button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Apply Form -->



{% endblock %}