{% extends 'backend/base.html.twig' %}
{% block nav %}
    {% include 'backend/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'backend/include/sidebar.html.twig' %}
{% endblock %}




{% block body %}
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">List Events</h4>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="collapse" id="datatable-1">
                            <div class="card"><kbd class="bg-dark"><pre id="bootstrap-datatables" class="text-white"><code>

                                </code></pre></kbd></div>
                        </div>
                        <div class="table-responsive">
                            <table id="datatable" class="table data-table table-striped table-bordered" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_comp</th>
                <th>Nbr</th>
                <th>Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.idComp }}</td>
                <td>{{ event.nbr }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                <td>{{ event.description }}</td>
                <td><a class ="btn btn-success"href ="../../{{ event.image }}">Show image </a></td>
                <td>
                    <a href="{{ path('event_show_backend', {'id': event.id}) }}">show</a>
                    <a href="{{ path('event_edit_backend', {'id': event.id}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        </tbody>
    </table>


                            </form>
                            </td>
                            </tr>
                            {% endfor %}


                            </table>
                            <center> <a  class="btn btn-success "href="{{ path('event_new_backend') }}">Create new</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}