<!-- Start Settings -->
{% block body %}
    <div class="clearfix"></div>

    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(../assets/img/banner-10.jpg);">
        <div class="container">
            <h1>Edit</h1>
        </div>
    </section>
    <h3>Edit Profile</h3>
    <div class="edit-pro">
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

        <div class="col-md-4 col-sm-6">
            {{ form_row(form.user) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.user) }}
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.mail) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.mail) }}
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.subject) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.subject) }}
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.mobile) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.mobile) }}
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.commentaire) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.commentaire) }}
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            {{ form_row(form.date) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.date) }}
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            {{ form_row(form.rate) }}
            <div  class="alert alert-danger">
                {{ form_errors(form.rate) }}
            </div>
        </div>


        <div class="col-sm-12">
            <button type="submit" class="update-btn">Save</button>

        </div>
        {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}
<!-- End Settings -->