{% extends 'backend/base.html.twig' %}
{% block nav %}
    {% include 'backend/include/navbar.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'backend/include/sidebar.html.twig' %}
{% endblock %}





{% block body %}
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">List Paricipant</h4>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="collapse" id="datatable-1">
                                <div class="card"><kbd class="bg-dark"><pre id="bootstrap-datatables" class="text-white"><code>

                                </code></pre></kbd></div>
                            </div>
                            <div class="table-responsive">
                                <table id="datatable" class="table data-table table-striped table-bordered" >
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Id_user</th>
                                        <th>Date</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for participant in participants %}
                                    <tr>
                                        <td>{{ participant.id }}</td>
                                        <td>{{ participant.user }}</td>

                                        <td>{{ participant.date ? participant.date|date('Y-m-d') : '' }}</td>

                                        <td>
                                            <a href="{{ path('participant_show_backend', {'id': participant.id}) }}">show</a>
                                            <a href="{{ path('participant_edit_backend', {'id': participant.id}) }}">edit</a>
                                        </td>

                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                    </tbody>
                                </table>


                                </form>
                                </td>
                                </tr>
                                {% endfor %}


                                </table>
                                <center> <a  class="btn btn-success "href="{{ path('participant_new_backend') }}">Create new</a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}