{% extends 'base.html.twig' %}
      {% block nav %}

          {% include 'Inc/nav2.html.twig' %}

      {% endblock %}


{% block body %}
<div class="clearfix"></div>

    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url(assets/img/banner-10.jpg);">
        <div class="container">
            <h1>Blog Detail</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Blog Detail -->
    <section class="section">
        <div class="container">
            <div class="row no-mrg">
                <div class="col-md-8">
                    <article class="blog-news">
                        <div class="full-blog">

                            <figure class="img-holder">
                                <a href="{{ path('blog-detail', {'id': blog.id}) }}"><img src="{{ asset('assets/img/blog/1.jpg') }}" class="img-responsive" alt="News"></a>
                                <div class="blog-post-date">
                                    Mar 12, 2017
                                </div>
                            </figure>

                            <div class="full blog-content">
                                <div class="post-meta">By: <span class="author">{{ blog.user }}</span>   </div>
                                <a href="{{ path('blog-detail', {'id': blog.id}) }}"><h2>{{ blog.titre }}</h2></a>
                                <div class="blog-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                                    <div class="post-meta">Filed Under: <span class="category"><a href="#">{{ blog.cat }}</a></span></div>
                                </div>
                                <div class="row no-mrg">
                                    <div class="blog-footer-social">
                                        <span>Share <i class="fa fa-share-alt"></i></span>
                                        <ul class="list-inline social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </article>

                    <div class="row no-mrg">
                        <div class="comments">
                            <div class="section-title2">
                                <h3>Comments (2)</h3>
                            </div>
                            {% for comment in comments %}

                            <div class="single-comment">
                                <div class="img-holder">
                                    <img src="assets/img/blog/1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="text-holder">
                                    <div class="top">
                                        <div class="name pull-left">
                                            <h4>Robert Mil – Feb 07, 2017</h4>
                                        </div>
                                        <div class="rating pull-right">
                                            <ul>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star active"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="text">
                      <p> {{ comment.commentaire }}</p>


                                    </div>


                            </div>
                            </div>

                            {% endfor %}
                                <center><a  href=" {{ path('commentaire_new')}}" class="btn btn-success">Gestion des commentaire</a></center>

                    </div>
                </div>
                <!-- Start Sidebar -->
                <div class="col-md-4">
                    <div class="blog-sidebar">





                    </div>
                </div>
                <!-- End Start Sidebar -->
            </div>
        </div>
    </section>
    <!-- Blog Detail End -->


    <!-- Sign Up Window Code -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
                            <li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" id="myModalLabel2">
                            <div role="tabpanel" class="tab-pane fade in active" id="login">
                                <img src="assets/img/logo.png" class="img-responsive" alt="" />
                                <div class="subscribe wow fadeInUp">
                                    <form class="form-inline" method="post">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="email"  name="email" class="form-control" placeholder="Username" required="">
                                                <input type="password" name="password" class="form-control"  placeholder="Password" required="">
                                                <div class="center">
                                                    <button type="submit" id="login-btn" class="submit-btn"> Login </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="register">
                                <img src="assets/img/logo.png" class="img-responsive" alt="" />
                                <form class="form-inline" method="post">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
                                            <input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
                                            <input type="email"  name="email" class="form-control" placeholder="Username" required="">
                                            <input type="password" name="password" class="form-control"  placeholder="Password" required="">
                                            <div class="center">
                                                <button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- End Sign Up Window -->
 {% endblock %}